/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background: black;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
  font-size: 1.6rem;
  line-height: 24px;
  background: white;
  color: black;
}
.top-image {
  position: relative;
}
.building {
  max-width: 100%;
}
h1 {
  position: absolute;
  bottom: 55px;
  left: 8%;
  font-size: 6.4rem;
  color: #FFFFFF;
  line-height: 75px;
  font-weight: bold;
}
.top-content {
  display: flex;
  padding: 50px 80px 60px 80px;
  justify-content: space-between;
}
.top-content-left {
  margin-right: 4%;
  margin-top: 50px;
}
.btn {
  height: 40px;
  border: 1px solid #222222;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.plans {
  height: auto;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 5%;
  font-weight: bold;
  color: #222222;
}
.top-mid {
  display: flex;
  padding: 50px 80px 60px 80px;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.top-mid-right {
  margin-left: 4%;
  margin-top: 50px;
}
.view1,
.view2 {
  width: 100%;
}
.btn2 {
  height: 40px;
  border: 1px solid #222222;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.middle-content p {
  width: 100%;
  padding: 1% 31% 10% 30%;
}
.mid-content p,
.bottom-content p {
  width: 100%;
  padding: 10% 31% 5% 30%;
}
.middle-image,
.mid-content,
.bottom-content {
  position: relative;
  padding: 0px 80px 60px 80px;
}
.btn3,
.btn4 {
  position: absolute;
  width: 31%;
  display: flex;
  justify-content: center;
  background-color: #D8D8D8;
  /* flex-direction: row-reverse; */
  /* padding-left: 81%; */
  margin-left: 53%;
  height: 90px;
  align-items: center;
  font-size: 3rem;
  bottom: 8%;
  border: 1px solid #FFFFFF;
}
.placement {
  bottom: 65%;
  margin: 0;
}
.position {
  bottom: 65%;
}
footer {
  background-color: #828282;
  color: #FFFFFF;
  padding: 5%;
  padding-bottom: 1%;
}
.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4%;
}
.email {
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  color: #828282;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2%;
}
.locations p {
  font-size: 1.4rem;
  line-height: 26px;
}
h4 {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
/* HTML5 display-role reset for older browsers */
