.top-image {
    position: relative;
    //text-align: center;
    //color: white;
    //width: 500%;
}

h1 {
    position: absolute;
    bottom: 8px;
    //left: 16px;
  }

.top-content {
    display: flex;
}