.top-image {
    position: relative;
    //text-align: center;
    //color: white;
    //width: 500%;
}

.building {
    max-width: 100%;
}

h1 {
    position: absolute;
    bottom: 55px;
    left: 8%;
    font-size: 6.4rem;
    color: #FFFFFF;
    line-height: 75px;
    font-weight: bold;
  }

.top-content {
    display: flex;
    padding: 50px 80px 60px 80px;
    //width: 100%;
    justify-content: space-between;
}

.top-content-left {
   margin-right: 4%;
   margin-top: 50px;

   

}

.btn {
    height: 40px;
    border: 1px solid #222222;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.plans {
    //max-width: 100%;
    height: auto;
}

h2{
    font-size: 2.8rem;
    padding-bottom: 5%;
    font-weight: bold;
    color: #222222;
  }

.top-mid {
    display: flex;
    padding: 50px 80px 60px 80px;
    //width: 100%;
    justify-content: space-between;
flex-direction: row-reverse;
}

.top-mid-right {
    margin-left: 4%;
   margin-top: 50px;
}

.btn2 {
    height: 40px;
    border: 1px solid #222222;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.middle-content p, .mid-content p, .bottom-content p {
    width: 100%;
    padding: 10% 41% 10% 20%;
}

.middle-image, .mid-content, .bottom-content {
    position: relative;
}

.btn3, .btn4 {
    position: absolute;
    width: 31%;
    display: flex;
    justify-content: center;
    background-color: #D8D8D8;
    /* flex-direction: row-reverse; */
    /* padding-left: 81%; */
    margin-left: 53%;
    height: 90px;
    align-items: center;
    font-size: 3.0rem;
    bottom: -9%;
    border: 1px solid #FFFFFF
}

.placement {
    bottom: 65%;
    margin: 0;
}

.position {
    bottom: 64%;
}
