.services-page {
    margin: 10px 8% 10px 8%;
}

.tabs-links {
    display: flex;
    justify-content: space-between;
  }
  .tabs-link {
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    /* selected link */
  }
  .tabs-link:active {
    background: #5E9FB9;
  }
  .tabs-link:hover {
    background: #222222;
    color: #FFF;
  }
  .tabs-link .tabs-link-selected:active {
    color: #5E9FB9;
  }
 
  .tab-content {
      display: flex;
  }