.tabs-links {
    
    display: flex;
    justify-content: space-between;
    
}

.tabs-link {
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 20%;
    align-items: center;
    justify-content: center;
    
    
}